data/bamfiles
data/reference
data/mapping
data/dest*
data/diyabc_inputs*/POOL_*
data/diyabc_inputs*/reftable*
data/diyabc_inputs*/RNG*
data/simulation*/
data/dros_sim/
data/wrong_sample_headers/
data_files/
results/
imgs/output.asc
docker.log
drosophila-evolution.code-workspace
run_docker_env.sh
output.asc
