data/bamfiles
data/reference
data/mapping
data/dest*
data/vcf/
data/bamfiles/
data/interim/
data/mapping/
data/diyabc_inputs*/
data/diyabc_noinv_1/
data/diyabc_noinv_2/
data/diyabc_noinv_3/
data/diyabc_noinv_4/
data/diyabc_noinv_1a/
data/diyabc_noinv_1b/
data/diyabc_noinv_1c/
data/diyabc_noinv_1e*/
data/diyabc_noinv_1d/POOL*
data/diyabc_noinv_1d/.Rhistory
data/diyabc_noinv_1d/Rplots.pdf
data/simulation*/
data/dros_sim/
data/wrong_sample_headers/
data_files/
data/february_25_sims/sim*/dts*/sim/
data/february_25_sims/sim*/dts*/diyabc-RF-linux-v1.1.54
data/february_25_sims/sim*/dts2/reftableRF.bin
results/
imgs/output.asc
docker.log
drosophila-evolution.code-workspace
run_docker_env.sh
output.asc
